<div class = "create_form">
	<div class="create_header">Create a Poll</div>
<%= form_for @poll do |f| %>
by: <%= current_user.username %> 
<br/>
<div>

	<div class="create_label">
		<%= f.hidden_field :creator, value: current_user.username%>
	</div>

	<div class="create_label">
		<span ><%= f.label :Question %></span>
		<%= f.text_field :question, :placeholder => "Enter your question here...", :class => "form-control"%>
	</div>

	<div class="create_label">
		<%= f.label :Your_Answer_Choices %>
		<%= f.text_field :choice_one, :placeholder => "Answer...", :class => "form-control" %>
		<%= f.text_field :choice_two, :placeholder =>"Answer...", :class => "form-control" %>
	</div>
	<div class="create_label">
		<%= f.label :Image_Url %>
		<%= f.text_field :image_url, :placeholder =>"Image url...", :class => "form-control"  %>
	</div>

	<br>
	<div class = "create_btn"><%= f.submit "Create", :class=>"btn btn-success" %></div>
<% end %>
</div>