	<div class ="welcome_msg">
	Hello, <%= current_user ? current_user.username : "(not logged in)" %> 
	</div>


	<% @polls.each do |f| %>
		<div class="poll">
			<span class="image"><%= image_tag(f.image_url, size: '310x178') %><span>
			<br>
			<div class="question"><%= f.question %></div>
			<br>
			<div class="answer">
				<input id="accept" name="accept" type="checkbox" value="1" />
				<button type="button" class="btn btn-warning"><%= f.choice_one %></button>
				<input id="accept" name="accept" type="checkbox" value="1" />
				<button type="button" class="btn btn-warning"><%= f.choice_two %></button>
				<br>
			</div>
			<div>
				<%= link_to "Edit", edit_poll_path(f) %>
			</div>

				<%= link_to "delete", f, {method: :delete, confirm: "Are you sure?"} %>
		</div>
	<% end %>



		