<body class="background_image">
	<div class="login">
		<div><h1>Log in</h1></div>
			<div class="notice"><%= flash[:notice] %></div>
				<div class="login_form">
					<%= form_for @user, {url:"/auths", method:"post"} do |user|%>
					<%= user.text_field :username, :placeholder => "Your username", :class=> "form-control" %><br>
					<%= user.password_field :password, :placeholder => "Your password", :class=>"form-control"  %><br>
					<%= user.submit 'Log in', :class => "btn btn-success" %>
					<%end%>
				</div>
				<div>
					<%= link_to "Sign up now", new_user_path %>
				</div>	
	</div>
<body>

<!-- 
<button type="button" > -->